// Основний колір
$base-color: #ffffff;

// Маленькі планшети та великі сматфони
$screen-sm-min: 576px;

// Невеликі планшети
$screen-md-min: 768px;

// Планшети та невеликі десктопи
$screen-lg-min: 992px;